.property_container {
  margin: 2rem;
  margin-left: 18rem;
}
.image_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.property_image {
  /* margin: 0.5rem; */
  max-width: 7rem;
}

.properties_image {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .property_container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .property_search {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .image_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .main_img {
    width: auto;
  }
  .properties_image {
    display: block;
  }
  .main_img_container {
    display: flex;
    justify-content: center;
  }
  .property_image {
    margin: 1rem;
    /* display: flex; */
    width: 8rem;
  }
}
@media (max-width: 300px) {
  .main_img {
    width: 8rem;
  }
}
