.about {
  padding: 0 !important;
  display: none;
  box-sizing: content-box;
  .pos-left {
    position: absolute !important;
    left: 4rem !important;
  }
  .pos-right {
    display: none !important;
    position: absolute !important;
    right: 3rem !important;
  }
}
.bg-purple {
  background-color: var(--bs-purple) !important;
  color: white;
}
