.property_container {
    margin:1rem 3rem 5rem 17rem !important; 
}
.search_container {
   display: flex;
   justify-content: flex-end;
}
/* .add_property {
    display: flex;
    justify-content: space-between; */
    /* flex-wrap: wrap; */
/* } */
.property_image {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}
.image_container {
    position: relative;
}
.sell_badge, .rent_badge {
    position: absolute;
    top: 1.2rem;
    left: 1.2rem;
    /* margin-left: 0.5rem; */
    background-color: rgba(255, 0, 0, 0.9);
}
.rent_badge {
    background-color: rgba(50, 255, 0, 0.7);
}
.property_text {
    color: white;
    position: absolute;
    bottom: 2px;
    left: 8px;
    margin-left: 0.3rem;
}

@media (max-width : 600px) {
    .property_container {
        z-index: -5;
        padding: 1rem;
        width: 100vw;
        /* background-color: red; */
        margin:1rem auto !important; 
    }
    .search_container, .add_property, .property_image, .image_container, .rent_badge,.sell_badge {
        display: block;
        z-index: -5 !important;
    }
    .property_image {
        width: 18rem;
        margin: .8rem;
    }
}